.container{
    width:25%;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
    padding:10px;
}

h1 {
    text-transform: uppercase;
    font-size: 300%;
    margin-top: 5%;
    margin-left: 23%;
    word-spacing: 5px;
    letter-spacing: 5px;
    
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('weather.jpg');
    background-size: cover;
    opacity: 1.0;
}

#country {
    text-transform: uppercase;
    font-weight: bold;
    margin-top:-50px;  
}

.img_div{
    float: left;
    width:20%;
}

.city_div{
    float:left;
    width:35%;
    margin-top:10px
}

#city {
    text-transform: capitalize;
      font-weight: bold;
}
.menu{
    margin-left:150px;
}
nav ul li {
    list-style: none;
    float: left;
    padding: 10px 60px;
    margin-left: 10%;
    background-color:lightblue;
}

a{
    color:#555;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color:#000;
}

footer {
    margin-top: 7%;
    margin-right: 3%;
    padding: 2%;
    
}

.company {
    float: right;
    text-decoration: underline;
}